<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
</head>
<body id="{{user}}">
    <div class="pnav">
        <div style="float:left" class="container">
            <div class="logo-container"><a class="navbar-brand" href="#">
            {% load static %}
            <img width="308" height="61" src="{% static "app/run4orphanslogo.jpg" %}"/>
            </a>
            </div>
            <div style="float:left;"class=" links">
                  <a class="nav-link" href="http://www.run4orphans.org/light-love-home-global"><h5>Light & Love Home Global</h5></a>
                  <a class="nav-link" href="http://www.run4orphans.org/light-love-home-san-francisco"><h5>Light & Love Home SF</h5></a>
                  <a class="nav-link" href="http://www.run4orphans.org/events/runners/"><h5>Runners</h5></a>
                  <a class="nav-link" href="http://www.run4orphans.org/about-us-and-contact"><h5>About Us</h5></a>
                  <a class="nav-link" href="http://www.run4orphans.org/faq"><h5>FAQ</h5></a>
                <a class="nav-link" href="http://www.run4orphans.org/events/lmr/"><h5>2017 Lake Merced Race</h5></a>
            </div>
        </div>
    </div>
    <div class="container main" style="margin-right:0px;">
        <div class="row">
            <h1>{{user}}</h1>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3" style="text-align:center; ">
                <hr>
                <span>Join {{user.first_name}} to help the poor</span><br>
                <div class="row">
                    <form target="_blank" name="dform" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="6KKKMRVQZYYJG">
                        <input type="hidden" name="item_name" value="Run4Orphans - runner - {{user}}">
                        <input type="hidden" name="custom" value="0:2">
                        <input type="image" src="http://kosolution.net/images/donate_paypal1.jpg" name="submite" border="0">
                        <img alt border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <span>Donation is tax deductible (<a href="http://www.run4orphans.org/faq">FAQ</a>)</span>
                <br>
                <br>
                <p style="font-size: 85%">
                    Light & Love Home is a registered <br>
                    501c(3) non-profit organization. <br>
                    Your donation is tax deductible <br>
                    Your donation is tax deductible<br>
                </p>

            </div>

        </div>


    </div>
</body>
</html>