.pnav{
background-color:#FFFFFFF;
border: 0;
border-radius: 0;
min-height: 76px;
overflow: hidden;
-webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;

}

.links a{
    float:left;
    display: block;
    color: #00000; !important
    text-align: center;
    padding: 14px 9px;
    text-decoration: none;

}
.links a h5{
color:#404040;
line-height:35px;
font-size: 16px;
display: block;
}
.links{

    margin-top:6px;
    font-color: #0000;

}
body{
font-family: 'Lato', Helvetica, sans-serif !important;
}
.main{
margin-top:8px;
font-color:#404040;
margin-bottom:10%;

}
.details{
margin-left:16px;
}
.tiny-det{
font-size:15px;
font-weight: 300;
}
.big-det{
padding:4px;
font-weight: bold;
}
.signup-main{
margin:0 auto 10% auto;
max-width:500px;
}
.signup-main h1,h5{
text-align:center;
}
.form-padding{
text-align:center;
margin-top:6px;
max-width:300px;
}
.runner-input input{
margin-left:6px;
display:inline-block;
text-align:left;

}
.runner-input .col-md-3{
padding-top:11px;
}
.terms-details{
 color: #b6b6b6;
-webkit-box-shadow: 0 1px 2px 2px #d4d4d4;
 -moz-box-shadow: 0 1px 2px 2px #d4d4d4;
 box-shadow: 0 1px 2px 2px #d4d4d4;

}
.terms{
margin-top:16px;

}
.list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}